mixin svgIcon(icon)
    case icon
        when 'vk.svg'
            include ../../images/vk.svg
        when 'github.svg'
            include ../../images/github.svg
        when 'in.svg'
            include ../../images/in.svg
