mixin svgIcon(icon)
    case icon
        when 'vk.svg'
            include ../../images/icons/vk.svg
        when 'github.svg'
            include ../../images/icons/github.svg
        when 'in.svg'
            include ../../images/icons/in.svg
